.nav_menu {
  background: #fff;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  margin-top: -10px;
  z-index: 100
}
.fixed_menu {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: 0;
  z-index: 800;
}
.fixed_menu .open_nav {
  margin-right: 20px;
}

.fr-wrapper > div[style*='z-index: 9999'] {
/*position: absolute;
top: -10000px;
opacity: 0;*/
display: none;
}

.nav_menu .cf a {
  color: blue;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.nav_menu .cf a:hover {
  background: #84e8ff;
  color: #000;
}
.nav_menu .cf .active {
  color: white !important;
  background: #02b99d !important;
}
.nav_menu .cf .nav_button {
  display: none;
}
.nav_menu .cf .nav_responsive {
  display: inline-block;
}
.nav_responsive_fix {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  background: rgba(0,0,0,.5);
  display: none;
}

/* Nav side menu button */

@media(max-width:1186px)
{
  .nav_menu .cf a {
    padding: 6px;
    font-size: 14px;
  }
}
@media(max-width:977px)
{
  .nav_menu .cf a {
    padding: 8px;
    font-size: 10px;
  }
}
@media (max-width:784px)
{
 .nav_menu .cf .nav_button {
   display: inline-block;
   float: right;
   color: black;
   font-weight: bold;
  }
  .nav_menu .cf .nav_button:hover {
    color: black;
    border: none;
    background: linear-gradient(rgba(0,0,0,.07),rgba(0,0,0,.1));
  }
  .nav_menu .cf .nav_responsive {
    position: fixed;
    width: 255px;
    background: white;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1000;
    display: none;
  }
  .nav_menu .nav_responsive a {
    width: 100%;
    transition: .2s;
    font-size: 15px;
  }
  .nav_menu .cf a {
    font-size: 17px;
  }
  .nav_menu .nav_button.close_nav {
    float: right;
    width: auto;
  }
  .nav_menu .nav_responsive a:hover {
    border: none;
    color: orangered;
    border-left: 5px solid orangered;
  }
}